extends layout.pug

block content
    div(class="rectangle bg-white skew-left")
    div(class="section" id="about-section")
        div.center-align
            div.section-columns
                div
                    h2 Desarrollo. Operación. Mantenimiento.
                div#bio
                    h3 
                        | Soy un "simple ingeniero" de 
                        span Telecomunicaciones
                        |  y me desempeño en el área de implementacion y despliegue de redes de planta externa, comunicando a personas y compañías por medio de enlaces de 
                        span RadioFrecuencia, 
                        | curioso del código y un eterno apasionado de tecnologias libres y programación de 
                        span webApps. 
                    p 
                        | Me encanta 
                        span aprender y enseñar, 
                        | por lo general intento viajar por el mundo tecnológico para desentrañar y almacenar en mi 
                        span SSD organico,
                        |  los misterios detrás del codigo.
                div.btn-section
                    a(href="#work" class="btn btn-black") Ver proyectos sobresalientes.