extends layout.pug
block content
    div(class="rectangle bg-white skew-left") 
    div(class="section merge" id="about-seguridad")
        div.center-align
            div.section-columns
                div
                    h2 Diseño. Programasion. Mantenimiento.

                div#bio

                    h3 Durante al rededor de 2 anos 
                        span 
                            |me he dedicado al desarrollo de aplicasiones web bajo el entorno de desarrollo Nodejs utilizando las tecnologias mas populares, como Express, React, Mongodb entre otras.

                    p   Algunos de los proyectos destacados 
                        span
                        | en los  que he tenido la oportunidad de colaborar es una tienda virtual para una compa;ia de distribucion fe equipos de seguridad y una web informativa para uno de los consecionarios de autos mas preddtigosos de ls ciudad edtos han sido desarrollado bajoas estas tecnologias.
                    
                    div.btn-section
                        a(href="javascript:closesolution();" class="btn btn-black") Ver proyectos sobresalientes.

    div(class="margentop section-columns bg-gray")
        div(class="center-align" id="work03")
        div.center-align
            div.section-columns
                div
                    h2.white Development. Deployment.
                    div.btn-section
                        a(href="javascript:opensolution();" class="btn btn-white") Saber mas.