div(class="rectangle bg-black skew-left")

div(class="section bg-black" id="footer")
    div(class="center-align")
        div(class="section-columns")
            div
                h2(class="white") Sigamos en Contacto.
                div(class="btn-section")
                    a( class="btn btn-white" href="mailto: contacto@misitio.com") Enviame un Email.
            div
                h3 Si quieres saber cómo Puedo colaborar en tu proyecto.
                p También podemos estar conectado por medio mis redes sociales, enterarte de mi trabajo y conoceme un poco más.
                div(class="btn-section")
                    a(class="btn btn-white" href="http://www.facebook.com/misitio/") Facebook.
                    a(class="btn btn-white" href="https://twitter.com/Sagert_p") Twitter.
                    a(class="btn btn-white" href="http://www.instagram.com/misitio/") Instagram.
                    a(class="btn btn-white" href="http://www.instagram.com/misitio/") Github.