<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Redes y Seguridad</title>
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/particle.js"></script>
	<script type="text/javascript">

		function opensolution() {
			$(".merge").slideDown("slow");
		}
		function closesolution() {
			$(".merge").slideUp("fast");

		}
	</script>
</head>
<body>
	<div id="main-container">
		<section id="intro-container">
			<div class="center-align">
				<nav>
					<div id="logo"><img src="img/logo.png" alt="" width="80" height="80"></div>
					<div id="menu-lista">
						<ul>
							<li><a href="#about-section">Acerca de | </a></li>
							<li><a href="#work02">Servicios | </a></li>
							<li><a href="#footer">Contacto</a></li>
						</ul>
					</div>
				</nav>

				<div class="section-columns">
					<div>
						<h2 class="white">Redes y Seguridad Electronica.</h2>
						<!-- <div id="particles-js"> <h1>Particles.js</h1> </div>  -->
						<div class="btn-section">
							<a href="#about-section" class="btn btn-white">Conóceme más</a>
						</div>
					</div>

					<div id="image-bg">
					</div>
				</div>
			</div>
		</section>

		<div class="rectangle bg-white skew-left"></div>
		
		<div class="section" id="about-section">
			<div class="center-align">
				<div class="section-columns">
					<div>
						<h2>Diseño.<br/> Operación. <br/> Mantenimiento.</h2>
						
					</div>

					<div id="bio">

						<h3>En Ubiset, <span>nos dedicamos</span>, a satisfacer las necesidades de nuestros clientes en areas de <span>Telecomunicaciones</span> y <span>Seguridad Electronica</span>, a través de aplicaciones y equipos con altos estandares de calidad.</h3>

						<p>Contamos con un equipo de <span>especialistas e ingenieros</span>  en constante capacitación con la finalidad de manejar los proyectos, desde el <span> diseño e implementación </span> hasta la  <span>operación y el mantenimiento.</span></p>
												
						<p><span>Puedes seguirnos</span> en <a href="#">Twitter</a> o <a href="#">Instagram</a></p>
						
						<div class="btn-section">
							<a href="#work" class="btn btn-black">Ver proyectos sobresalientes</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section merge" id="about-telecom">
			<div class="center-align">
				<div class="section-columns">
					<div>
						<h2>Diseño.<br/> Operación. <br/> Mantenimiento.</h2>
						
					</div>

					<div id="bio">

						<h3>En Ubiset, <span>nos dedicamos</span>, a satisfacer las necesidades de nuestros clientes en areas de <span>Telecomunicaciones</span> y <span>Seguridad Electronica</span>, a través de aplicaciones y equipos con altos estandares de calidad.</h3>

						<p>Contamos con un equipo de <span>especialistas e ingenieros</span>  en constante capacitación con la finalidad de manejar los proyectos, desde el <span> diseño e implementación </span> hasta la  <span>operación y el mantenimiento.</span></p>
												
						<p><span>Puedes seguirnos</span> en <a href="#">Twitter</a> o <a href="#">Instagram</a></p>
						
						<div class="btn-section">
							<a href="javascript:closesolution();" class="btn btn-black">Ver proyectos sobresalientes</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section bg-gray" id="work02">
			<div class="center-align">
				<div class="section-columns" >
					<div>
						<h2 class="white">Redes. <br/> Telecom.</h2>
						<div class="btn-section">
							<a href="javascript:opensolution();" class="btn btn-white">Ver Solución</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section merge" id="about-seguridad">
			<div class="center-align">
				<div class="section-columns">
					<div>
						<h2>Diseño.<br/> Operación. <br/> Mantenimiento.</h2>
						
					</div>

					<div id="bio">

						<h3>En Ubiset, <span>nos dedicamos</span>, a satisfacer las necesidades de nuestros clientes en areas de <span>Telecomunicaciones</span> y <span>Seguridad Electronica</span>, a través de aplicaciones y equipos con altos estandares de calidad.</h3>

						<p>Contamos con un equipo de <span>especialistas e ingenieros</span>  en constante capacitación con la finalidad de manejar los proyectos, desde el <span> diseño e implementación </span> hasta la  <span>operación y el mantenimiento.</span></p>
												
						<p><span>Puedes seguirnos</span> en <a href="#">Twitter</a> o <a href="#">Instagram</a></p>
						
						<div class="btn-section">
							<a href="javascript:closesolution();" class="btn btn-black">Ver proyectos sobresalientes</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section bg-gray" id="work03">
			<div class="center-align">
				<div class="section-columns" >
					<div>
						<h2 class="white">Seguridad Electronica.</h2>
						<div class="btn-section">
							<a href="javascript:opensolution();" class="btn btn-white">Ver Solución</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="rectangle bg-black skew-left"></div>

		<div class="section bg-black" id="footer">
			<div class="center-align">
				<div class="section-columns" >
					<div>
						<h2 class="white">Sigamos en Contacto.</h2>
						<div class="btn-section">
							<a href="mailto: contacto@misitio.com" class="btn btn-white">Envianos un mensaje</a>
						</div>
					</div>

					<div>
						<h3>Contáctanos si quieres saber cómo podemos colaborar en tu siguiente proyecto.</h3>
						<p>También puedes estar conectado por medio de las redes sociales, enterarte de nuestros trabajo y conocenos un poco más.</p>

						<div class="btn-section">
							<a href="http://www.facebook.com/misitio/" class="btn btn-white">Facebook</a>
							<a href="http://www.twitter.com/misitio/" class="btn btn-white">Twitter</a>
							<a href="http://www.instagram.com/misitio/" class="btn btn-white">Instagram</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>







