div#main-container
    section#intro-container
        div.center-align
            nav
                div#logo
                    img#logosp(src="/public/img/Logo_Blanco.png", alt="logo")
                div#menu-lista
                    ul
                        li
                            a(href='/')
                                | Inicio |  
                        li
                            a(href='/devops')
                                |   Desarrollo |  
                        li
                            a(href='/telecom')
                                |   Redes
            div.section-columns
                div
                    h2.white Saget Moises. Perez Castillo.
                    div.btn-section
                div#image-bg