extends layout.pug
block content
    div(class="rectangle bg-white skew-left") 
    div(class="section merge" id="about-telecom")
        div.center-align
            div.section-columns
                div
                    h2 Diseño. Operación. Mantenimiento.

                div#bio

                    h3 En Ubiset, 
                        span nos dedicamos, a satisfacer las necesidades de nuestros clientes en areas de 
                        span Telecomunicaciones y
                        span  Seguridad Electronica, a través de aplicaciones y equipos con altos estandares de calidad.

                    p Contamos con un equipo de 
                        span especialistas e ingenieros  en constante capacitación con la finalidad de manejar los proyectos, desde el 
                        span diseño e implementación  hasta la
                        span  operación y el mantenimiento.
                                            
                    p
                    span Puedes seguirnos en 
                        a(href="#") Twitter o 
                        a(href="#") Instagram
                    
                    div.btn-section
                        a(href="javascript:closesolution();" class="btn btn-black") Ver proyectos sobresalientes.

    div(class=" margentop section-columns bg-gray ")
        div(class="center-alingn" id="work02")
        div.center-align
            div.section-columns
                div
                    h2.white Redes. Telecom.
                    div.btn-section
                        a(href="javascript:opensolution();" class="btn btn-white") Ver Solución